@import "tailwindcss";

:root{
  --branco: #F4F5F6;
  --cinza: #F6F7F9;
  --azul: #172848;
  --laranja: #FB923C;
  --amarelo: #FABD15;
  --verde: #4CCE5B;
  --vermelho: #F04848;
  --preto: #0F172A;
  --brancoSecundario: #D9D9D9;
  --cinzaSecundario: #495261;
  --laranjaSecundario: #FFAB17;
  --amareloSecundario: #FACC15;
  --azulSecundario: #34435F;
}

@theme{
  --color-orange: var(--laranja);
  --color-blue: var(--azul);
  --color-white: var(--branco);
  --color-gray: var(--cinza);
  --color-black: var(--preto);
  --color-green: var(--verde);
  --color-yellow: var(--amarelo);
  --color-red: var(--vermelho);
  --color-secondary-white: var(--brancoSecundario);
  --color-secondary-gray: var(--cinzaSecundario);
  --color-secondary-orange: var(--laranjaSecundario);
  --color-secondary-yellow: var(--amareloSecundario);
  --color-secondary-blue: var(--azulSecundario);
}